<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean id="x"  class="com.spring.xml.ex1.HollowCircle"/>
	<bean id="y"  class="com.spring.xml.ex1.SolidCircle"/>
	<bean id="cs" class="com.spring.xml.ex1.CircleService">
		<property name="c" ref="x"/>
	</bean>
</beans>